<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link src="https://cdn.tailwindcss.com"></link>
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
      </head>
  <body class="z-[-100000000] relative">
    <!-- Navbar -->

    <!-- Main -->
    <div class="relative w-full overflow-x-hidden h-auto grid bg-[#132844] py-[90px] grid-rows-2 grid-cols-2 gap-y-[121px] z-[-2]">
        <div class="glass w-[35vw] relative h-[60vh] m-auto z-10 flex items-center flex-col pt-20 gap-10">
            <img src="ra.png" alt="logo" class="w-40 h-40 rounded-full">
            <div class="-mt-20 absolute w-full h-[100%] bg-[#1f1f1fe9] opacity-[0] scale-[1.01] rounded-[50px] flex items-center flex-col gap-4 text-[#ffffffdb] justify-center">
                    <i class="fa-thin fa-arrow-pointer text-[50px]"></i>
                    <div class="">Click to learn more</div>
            </div>
            <div class="text-center text-pink-600 font-bold">DISECNUTS</div>
        </div>
        <div class="glass w-[35vw] relative h-[60vh] m-auto z-10 flex items-center flex-col pt-20 gap-10">
            <img src="ra.png" alt="logo" class="w-40 h-40 rounded-full">
            <div class="-mt-20 absolute w-full h-[100%] bg-[#1f1f1fe9] opacity-[0] scale-[1.01] rounded-[50px] flex items-center flex-col gap-4 text-[#ffffffdb] justify-center">
                    <i class="fa-thin fa-arrow-pointer text-[50px]"></i>
                    <div class="">Click to learn more</div>
            </div>
            <div class="text-center text-pink-600 font-bold">DISECNUTS</div>
        </div>
        <div class="glass w-[35vw] relative h-[60vh] m-auto z-10 flex items-center flex-col pt-20 gap-10">
            <img src="ra.png" alt="logo" class="w-40 h-40 rounded-full">
            <div class="-mt-20 absolute w-full h-[100%] bg-[#1f1f1fe9] opacity-[0] scale-[1.01] rounded-[50px] flex items-center flex-col gap-4 text-[#ffffffdb] justify-center">
                    <i class="fa-thin fa-arrow-pointer text-[50px]"></i>
                    <div class="">Click to learn more</div>
            </div>
            <div class="text-center text-pink-600 font-bold">DISECNUTS</div>
        </div>
        <div class="glass w-[35vw] relative h-[60vh] m-auto z-10 flex items-center flex-col pt-20 gap-10">
            <img src="ra.png" alt="logo" class="w-40 h-40 rounded-full">
            <div class="-mt-20 absolute w-full h-[100%] bg-[#1f1f1fe9] opacity-[0] scale-[1.01] rounded-[50px] flex items-center flex-col gap-4 text-[#ffffffdb] justify-center">
                    <i class="fa-thin fa-arrow-pointer text-[50px]"></i>
                    <div class="">Click to learn more</div>
            </div>
            <div class="text-center text-pink-600 font-bold">DISECNUTS</div>
        </div>
        
        <div class="w-[200vw] h-72 bg-[#ff1ff140] absolute top-50 translate-x-[-700px] -rotate-45 z-[-1]"></div>
        <div class="w-[230vw] h-72 bg-[#ff1ff140] absolute top-50 translate-x-[00px] -rotate-45 z-[-1]"></div>
    </div>
  </body>
</html>
<style>
    *{
        transition: opacity ease 0.3s;
    }
    .glass{
        background: rgba(39, 39, 39, 0.1);
        box-shadow: 0 0 200px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur( 60px );
    -webkit-backdrop-filter: blur( 60px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* background-color: gray; */
    }

    .-mt-20:hover{
        opacity: 1;

    }
</style>

<script>
    
</script>
