<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <!-- MapLibre Stuff -->
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" />
    <!-- Data AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <title>Contact Us</title>
    <style>
        .strip { 
            filter: blur( 30px );
        }
        @keyframes fround1 {
            0% {
                transform: translateX(0px) translateY(0px);
            }
            25% {
                transform: translateX(20px) translateY(-10px);
            }
            50% {
                transform: translateX(0px) translateY(-20px);
            }
            75% {
                transform: translateX(-20px) translateY(-10px);
            }
            100% {
                transform: translateX(0px) translateY(0px);
            }
        }
        .grad {
            min-height: 100vh;
            background: radial-gradient(#0C1226 ,  #161D3A);
        }
        #map {
            width: 70vw;
            height: 90%;
            margin-top: 2.15rem;
            border-radius: 0.5rem; /* Optional rounded look */
        }

        .purple-icon {
            filter: hue-rotate(250deg) saturate(120%) brightness(90%);
        }

        .custom-marker {
            background-image: url('marker.png'); /* Replace with your marker image path */
            background-size: cover;
            width: 30px; /* Adjust width */
            height: 40px; /* Adjust height */
            cursor: pointer;
        }

        .fround {
            animation: fround1 10s infinite ease-in-out;
        }
    </style>
</head>
<body class="text-center text-white grad overflow-x-hidden h-[140vh]">
<ul id="nav" class="backdrop-filter backdrop-blur-lg bg-opacity-10 bg-black-950 mt-0 list-none p-4 text-white absolute border-b-[0.5px] border-gray-800 flex items-center justify-between w-full sticky top-0 z-50">
        <!-- Left side of the navbar -->
        <li class="float-left">
        <a href="#" class="inline-block text-aliceblue text-center px-3 py-3 no-underline font-bold hover:font-bold hover:text-gray-300 transition-all duration-100 ease-in-out">RNPSMUN</a>
        </li>
    
        <!-- Centered nav items -->
        <div class="topnav-centered absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-sm space-x-3">
        <li class="inline-block">
            <a href="#" class="inline-block text-aliceblue text-center px-3 py-3 no-underline font-bold hover:font-bold hover:text-gray-300 transition-all duration-100 ease-in-out">Secretariat</a>
        </li>
        <li class="inline-block">
            <a href="#" class="inline-block text-aliceblue text-center px-3 py-3 no-underline font-bold hover:font-bold hover:text-gray-300 transition-all duration-100 ease-in-out">Committees</a>
        </li>
        <li class="inline-block">
            <a href="#" class="inline-block text-aliceblue text-center px-3 py-3 no-underline font-bold hover:font-bold hover:text-gray-300 transition-all duration-100 ease-in-out">Delegate Materials</a>
        </li>
        <li class="inline-block">
            <a href="#" class="inline-block text-aliceblue text-center px-3 py-3 no-underline font-bold hover:font-bold hover:text-gray-300 transition-all duration-100 ease-in-out">Guide</a>
        </li>
        <li class="inline-block">
            <a href="#" class="inline-block text-aliceblue text-center px-3 py-3 no-underline font-bold hover:font-bold hover:text-gray-300 transition-all duration-100 ease-in-out">About</a>
        </li>
        <li class="inline-block">
            <a href="#" class="inline-block text-aliceblue text-center px-3 py-3 no-underline font-bold hover:font-bold hover:text-gray-300 transition-all duration-100 ease-in-out">Contact</a>
        </li>
        </div>
    
        <!-- Right side of the navbar -->
        <div class="topnav-right pr-9">
        <li class="float-right inline-block">
            <a href="#" class="inline-block text-aliceblue text-center px-3 py-3 no-underline hover:font-bold hover:text-gray-300 font-bold transition-all duration-100 ease-in-out">Register</a>
        </li>
        </div>
    </ul>
  <div class="absolute top-[10vh] left-[10vw] w-56 h-56 bg-[#1A73E8] opacity-50 rounded-full blur-3xl -z-10 fround"></div>
  <div class="absolute top-[40vh] left-[20vw] w-56 h-56 bg-[#BF3FFF] opacity-50 rounded-full blur-3xl -z-10 fround"></div>
  <div class="absolute top-[50vh] left-[10vw] w-48 h-48 bg-[#2BD4A9] opacity-50 rounded-full blur-3xl -z-10 fround"></div>

<section class="w-[99vw] h-[90vh] flex">
<div class="h-[90vh] w-[40vw] bg-blue- flex flex-col items-center justify-center gap-10",id="side-shit">
    <div data-aos="fade-up" data-aos-duration="3000" class="relative z-10 box">
        <div class="w-[30vw] h-auto rounded-md bg-transparent z-20">
        <div class="px-6 py-4 w-full rounded-2xl border border-white/20 bg-white/10 backdrop-blur-md shadow-[0_25px_45px_rgba(0,0,0,0.05)]">
            <div class="flex justify-between mb-3">
            <h2 class="text-white text-sm uppercase tracking-wide">Name</h2>
            <h2 class="text-white text-sm uppercase tracking-wide">Phone</h2>
            </div>
    
            <div class="space-y-2">
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">John Doe</p>
                <p class="text-teal-400 text-lg font-semibold">+91 12345 67890</p>
            </div>
    
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">Vrishank R</p>
                <p class="text-teal-400 text-lg font-semibold">+91 12489 02385</p>
            </div>
    
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">Athreya S</p>
                <p class="text-teal-400 text-lg font-semibold">+91 98765 43210</p>
            </div>
    
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">Anita Max Wynn</p>
                <p class="text-teal-400 text-lg font-semibold">+91 98765 12312</p>
            </div>
    
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">Dhruva Anand</p>
                <p class="text-teal-400 text-lg font-semibold">+91 98765 43210</p>
            </div>
            </div>
        </div>
        </div>
    </div>     
    <div data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1500" class="relative z-10 box mt-6">
        <div class="w-[30vw] h-auto rounded-md bg-transparent z-20">
        <div class="px-6 py-4 w-full rounded-2xl border border-white/20 bg-white/10 backdrop-blur-md shadow-[0_25px_45px_rgba(0,0,0,0.05)]">
            
            <div class="flex justify-between mb-3">
            <h2 class="text-white text-sm uppercase tracking-wide">Official MUN Email</h2>
            <p class="text-teal-400 text-sm font-medium">rnpsmun24@gmail.com</p>
            </div>
    
            <div class="border-t border-white/20 my-3"></div>

            <div class="space-y-2">
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">UNSC</p>
                <p class="text-teal-400 text-lg font-semibold">rnps2024.unsc@gmail.com</p>
            </div>
    
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">Lok Sabha</p>
                <p class="text-teal-400 text-lg font-semibold">rnps2024.ls@gmail.com</p>
            </div>
    
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">HJCC</p>
                <p class="text-teal-400 text-lg font-semibold">rnps2024.hjcc@gmail.com</p>
            </div>
    
            <div class="flex justify-between">
                <p class="text-white text-lg font-semibold">IPC</p>
                <p class="text-teal-400 text-lg font-semibold">rnps2024.ipc@gmail.com</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    
</div>

<div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="1000" id="map" class="w-[50vw]"></div>
</section>

<script>
    const map = new maplibregl.Map({
      container: 'map',
      style: 'https://api.maptiler.com/maps/019644c7-ce71-718d-af5f-cc12a1765721/style.json?key=mKxdF9GrKORIVsFaf1GX', // Custom style.json URL
      center: [77.5492204, 12.9846442],
      zoom: 18,
      interactive : false
    });

    map.addControl(new maplibregl.NavigationControl());

    const markerDiv = document.createElement('div');
    markerDiv.className = 'custom-marker';

    const marker = new maplibregl.Marker(markerDiv)
      .setLngLat([77.5492204, 12.9846442])
      .addTo(map);

    markerDiv.addEventListener('click', () => {
      window.open('https://maps.app.goo.gl/5MbitiDWBBaVERwE7');
    });
  </script>

<script>
    AOS.init();
</script>
<footer class="w-full text-white bg-transparent border-t-[1px] border-gray-600 body-font h-[10vh]">
    <div
        class="container flex flex-col flex-wrap px-5 py-24 mx-auto md:items-center lg:items-start md:flex-row md:flex-no-wrap">
        <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left mt-[-5vh]">
            <div class="w-36 h-36 mt-[1.2rem]">
                <img class="w-96 h-36 object-cover scale-[0.75]" src="/static/nps.png">
            </div>
            <p class="ml-4 text-sm text-white">Quote</p>
            <div class="mt-4">
                <span class="flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start gap-6">
                    <a class="text-white cursor-pointer hover:text-gray-200">
                        <i class="fa-brands fa-facebook scale-[1.2]"></i>
                    </a>
                    <a class="ml-3 text-white cursor-pointer hover:text-gray-200">
                        <i class="fa-brands fa-twitter scale-[1.2]"></i>
                    </a>
                    <a class="ml-3 text-white cursor-pointer hover:text-gray-200">
                        <i class="fa-brands fa-instagram scale-[1.2]"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="flex flex-wrap flex-grow mt-10 -mb-10 text-center md:pl-20 md:mt-0 md:text-left">
            <div class="w-full px-4 lg:w-1/4 md:w-1/2 h-[10vh]">
                <h2 class="mb-3 text-sm font-medium tracking-widest text-white uppercase title-font">About</h2>
                <nav class="mb-10 list-none">
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-700">Secretariat</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-700">Committees</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-700">About</a>
                    </li>
                </nav>
            </div>
            <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                <h2 class="mb-3 text-sm font-medium tracking-widest text-white uppercase title-font">Resources</h2>
                <nav class="mb-10 list-none">
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-700">Contact Us</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-700">Delegate Materials</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-700">Guide</a>
                    </li>
                </nav>
            </div>
            <div class="w-full px-4 lg:w-1/4 md:w-1/2">
                <h2 class="mb-3 text-sm font-medium tracking-widest text-white uppercase title-font">Contact</h2>
                <nav class="mb-10 list-none">
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-700">Send a Message</a>
                    </li>
                    <li class="mt-3">
                        <a class="text-gray-400 cursor-pointer hover:text-gray-700">Register Now</a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
